{# {% debug %}  #}
{% load static %}


<section class="text-center download-section content-section" id="about" style="background-image:url({% static 'assets/downloads-bg.jpg' %});">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h1>Solving or removing the dick problem</h1>
            <p>Work in progress. Suggestions and some help are accepted.</p>
            <button class="btn btn-primary btn-lg btn-default" type="button">
                <a href="https://fredericosales.eng.br" target="_blank" id="a">visit my homepage</a>
            </button>
        </div>
    </div>
</section>