{# {% debug %}  #}
{% load static %}


<header class="masthead" style="background-image:url({% static 'assets/intro-bg.jpg' %});">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Engineer life</h1>
                    <p class="intro-text">The ugly, the beauty, and the freaking hell.<br>Created with love.</p>
                    <a class="btn btn-link btn-circle" role="button" href="#news"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>