{# {% debug %}  #}


<section class="text-center content-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p>Feel free to leave us a comment. Remember the offensive and any negative feedback will be discarded</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <button class="btn btn-primary btn-lg btn-default" type="button">
                            <i class="fa fa-telegram fa-fw"></i><br />
                            <span class="network-name"><a href="https://t.me/FredericoSalesTheThird" target="_blank" id="a">telegram</span>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary btn-lg btn-default" type="button">
                            <i class="fa fa-gitlab fa-fw"></i><br />
                            <span class="network-name"><a href="https://gitlab.com/fredericosales" target="_blank" id="a">gitlab</a></span>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary btn-lg btn-default" type="button">
                            <i class="fa fa-github fa-fw"></i><br />
                            <span class="network-name"><a href="https://github.com/madmonkey-byte" target="_blank" id="a">github</a></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>