{# {% debug %}  #}



<footer>
    <div class="container text-center" id="footer">
        <div class="col-lg-8 mx-auto">
            <a class="btn btn-link btn-circle" role="button" href="#">
                <i class="fa fa-angle-double-up animated"></i>
            </a><br /><br />
        <p>Copyright ©&nbsp;Frederico Sales 2022</p>
    </div>
</footer>