<!DOCTYPE html>


{# {% debug %}  #}
{% load static %}


<html>
	<head>
		<title>Home - Frederico Sales</title>

		<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<meta name="description" content="Network engineer" />
	
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/custon.css' %}" />
	</head>

	<!-- begin body -->
	<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
		<!-- navbar -->
		{% include 'navbar.html' %} 
		<!-- navbar --> 

		<!-- begin banner -->
		{% include  'banner.html' %}
		<!-- end banner -->

		<!-- begin news -->
		{% include 'news.html' %}
		<!-- end news -->
	
		<!-- begin about -->
		{% include 'about.html' %}
		<!-- end about -->
	
		<!-- begin contact -->>
		{% include 'contact.html' %}
		<!-- end contact -->

		<!-- start map -->
		{% include 'map.html' %}
		<!-- end map -->

		<!-- start footer -->
		{% include 'footer.html' %}
		<!-- end footer -->
	
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/script.min.js' %}"></script>
	<!-- end body -->
	</body>
</html>