{# {% debug %}  #}


		<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand" href="#">Frederico Sales</a>
				<button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
					<i class="fa fa-bars"></i>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item nav-link">
							<a class="nav-link active" href="#news">news</a>
						</li>
						<li class="nav-item nav-link">
							<a class="nav-link" href="#about">about</a>
						</li>
						<li class="nav-item nav-link">
							<a class="nav-link" href="#contact">contact</a>
						</li>
						<li class="nav-item nav-link">
							<a class="nav-link" href="#map">map</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>