{# {% debug %} #}
{% load static %}


<br/>
<div class="row mb-2 d-flex justify-content-evenly" id="news">
    <div class="col-md-5" >
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">1000</strong>
                <h3 class="mb-0">Brocou o cu do peixinho.</h3>
                <div class="mb-1 text-muted">Meu ovo</div>
                    <p class="card-text mb-auto">Vamos ver no que vai dar.</p>
                    <a href="#" class="stretched-link">Vai dar merda vai...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: hum" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">bla</text>
                    </svg>
                </div>
            </div>
        </div>
    
    <div class="col-md-5">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">2000</strong>
                <h3 class="mb-0">O que refresca cu de pato é lagoa.</h3>
                <div class="mb-1 text-muted">Ai dentro macho.</div>
                    <p class="mb-auto">Se correr o bicho pega. Se ficar o bicho come.</p>
                    <a href="#" class="stretched-link">Eu sou cabra-macho.</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: ui" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">ble</text>
                    </svg>
                </div>
            </div>
        </div>
</div>