<!DOCTYPE html>

{# {% debug %}  #}
{% load static %}

<html>
	<head>
		<title>Home - Frederico Sales</title>

		<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<meta name="description" content="Network engineer" />
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/custon.css' %}" />
	</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
<br/>
<h2 align="center"><span class="badge badge-warning">Gimme your data,</span>mothafucka!</h2>

<!-- 
<div class="alert alert-info" role="alert">
    {{ form.non_field_errors }}
</div>
-->

<div class="d-flex justify-content-center">
    <form  class="form" action="." method="post">

        {% csrf_token %}

        <table class="table table-dark table-striped table-hover">
            {{ form.as_table }}
        </table>
        <input class="btn btn-primary"" type="submit" value="enviar" />
</div>

</body>
</html>