/*
 * Frederico Sales
 * <frederico@fredericosales.eng.br>
 * 2022
 *
 */
#ppk {
   color: rgb(66, 220, 163);
} 

#social {
   color: rgb(102, 58, 222);
}

#engenharia {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 10px;
 }

#a {
   text-decoration: none;
}

#isca {
   text-align: center;
   font-size: 22px;
   color:#7A7B7D;
   font-family: 'Times New Roman', Times, serif;
}

#author {
   text-align: right;
   font-size: 18px;
   color:#7A7B7D;
   font-family: 'Times New Roman', Times, serif;
}

#noticias {
   text-align: justify;
   text-justify: auto;
   font-size: 22px;
   font-family: 'Times New Roman', Times, serif;
}